

.title{


   margin: 10px 10px 10px 10px;
   border: 10px;
  

   border: 10px dashed black;
   
   
   
}
.card{
    background-color: antiquewhite;
    text-align: center;
    padding-bottom: 500px;
    padding-top: 5px;
    margin: auto 100px;
}